#oiseaux {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  background-image: url("http://www.mulierchile.com/flappy-bird-background/flappy-bird-background-002.jpg");
  background-size: cover;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  height: 900px;

}

img {
  width: 15%;
}

#tuyaux {
  width: 5%;
    position: absolute;
    bottom: 400px;
    right: 500px;
    overflow: hidden;
  }

}

}
